*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(240, 234, 234);
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.nav_collektion{
    display: flex;
    list-style: none;
}
.nav_item{
    font-size: 14px;
    margin: 0 21px;
}
.btn{
    padding: 11px 34px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #6f2cff;
    border: none;
    color: #fff;
}
.link{
    font-size: 14px;
    color: #1c1c1c;
    text-decoration: none;
    margin-left: 38px;
}
.baner{
    width: 100%;
    height: 700px;
    background: url("./photo_2022-06-29_06-40-36.jpg") no-repeat center/cover;
    padding: 130px 100px;
}
.baner_item{
    width: 44%;
    height: 100%;
}
.baner_item h1{
    font-size: 44px;
    padding-top: 19px;
    padding-bottom: 37px;
}
.baner_item h1 span{
    color: #6F2DFF;
}
.baner_item p{
    font-size: 18px;
    line-height: 30px;
}
.nav_email{
    width: 80%;
    height: 45px;
    border: 1px solid #6f2cff;
    border-radius: 27px;
    overflow: hidden;
    display: flex;
    margin-top: 4px;
}
.nav_email input{
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 26px;

}
.nav_email button{
    width: 40%;
    border: none;
    outline: none;
    background-color: #6F2CFF;
    color: #fff;
}
.score{
    width: 100%;
    height: 660px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 94px;
}
.score_right{
    width: 50%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score_right h2{
    font-size: 40px;
    padding-bottom: 58px;
}
.mit{
    padding-bottom: 56px;
}
.score_left{
    width: 50%;
    height: 100%;
    display: flex;
    padding-right: 100px;
}
.score_item{
    width: 50%;
    height: 100%;
    border-left: 1px solid #9995;
    padding: 8px 16px;
}
.result{
    padding-bottom: 116px;
}
.result h1{
    font-size: 40px;
    padding-bottom: 15px;
}
.result p{
    width: 70%;
}

.Qubit_title,
.way{
    text-align: center;
    padding-bottom: 22px;
}
.three_itemis{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.box{
    width: 28%;
    text-align: center;
}
.box h3{
    padding-bottom: 16px;
}
.imgg{
    width: 900px;
    height: 500px;
    margin-left: 200px;
    margin-top: 30px;
}
.aa{
  margin-left: 500px;
  margin-top: 100px;
}
.ddd{
    padding: 11px 34px;
    border-radius: 20px;
    font-size: 14px;
    background-color: aqua;
    border: none;
    color: #fff;
}
.abdurahmon h1{
    margin-left: 430px;
    margin-top: 30px;
}
.soliyev{
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin-left: 50px;
    margin-top: 60px;
    border-radius: 6px;
}
.vv{
    margin-left: 460px;
    margin-top: 40px;
}
.soliyev img{
    width: 300px;
    height: 200px;
    border-radius: 6px;
}
.soliyev p{
    margin-top: 7px;
}
.soliyev h2{
    margin-left: 90px;
}
.ss{
    margin-left: 100px;
}
.hh{
    margin-left: 80px;
}
.dd{
    margin-left: 73px;
}
.ii{
    margin-left: 130px;
}
.ffff{
    display: flex;
    margin-left: 130px;
}
.conect{
    width: 100%;
    height: 630px;
    background-color: #f5f5f5;
    display: flex;
}
.connect_left{
    width: 50%;
    height: 100%;
    padding-top: 160px;
    padding-left: 110px;
}
.connect_left p{
    padding: 50px 0;
    line-height: 3;
}
.connect_ridh{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect_ridh img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.demo_tudey{
    width: 100%;
    height: 320px;
    background: #2d0051;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.demo_email{
    width: 400px;
    margin-top: 39px;
}
.footer{
    width: 100%;
    padding: 50px 150px;
    background: #2d0051;
    margin-top: 100px;
    display: flex;
}
.footer_item{
    color: #fff;
    margin: 20px;
}
.footer_item h3{
    padding-bottom: 30px;
}
.footer_item ul li{
    list-style: none;
    line-height: 2;
}

